<header class="topbar">
  <nav class="navbar top-navbar">
    <div class="logo">
      <img src="../assets/images/logo-icon.png" />
      <img src="../assets/images/logo-text.png" alt="nothing" />
      <i class="bi bi-0-circle" style="color: red;"></i>
    </div>
    <div class="navbar-collapse">
      test <i class="bi bi-alarm" style="color: red;"></i> <!-- Alarm icon -->
      <i class="bi bi-heart-fill" style="color: red;"></i> <!-- Filled heart icon -->
      <i class="bi bi-alarm" style="color: red;"></i>
      <i class="bi bi-2-square-fill" style="color: red;"></i>
    </div>
  </nav>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown
    </button>
    <ul class="dropdown-menu">
      <li><button class="dropdown-item" type="button">Dropdown item</button></li>
      <li><button class="dropdown-item" type="button">Dropdown item</button></li>
      <li><button class="dropdown-item" type="button">Dropdown item</button></li>
      <i class="bi bi-send-arrow-up-fill"></i>
    </ul>
  </div>
</header>